$primario:  #292936  ;
$secundario:  #34343f   ;
$terciario: #4d3c54 ;
$colorBtn: #ed72c0 ;
$titulo:'Cinzel', serif; ;
$Parrafo:'Silkscreen', cursive;
$blanco: #ffff;
$negro: #000 ;
$fontsize: 7.2rem;
$textocelu: 3rem;