@import "variables";
html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}

.inicio {
    display: flex;
    font-family: $Parrafo;
    align-items: center;
    justify-content: center;  
    background-repeat: round;
    background-size: contain;
    a{
      margin-top: 120%;
    }

}

h1,h2,h3,h4,h5{
  font-family: $titulo ;
}
p{
  font-family: $Parrafo;
}
.chart{
  display: grid;
  grid-auto-flow: row;
}
.card{
img{
  max-width: 600px;
  height:auto ;
}
}